{% extends 'base.html' %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% block nav %}
<a href="/dashboard/">Volver</a>
{% endblock %}

{% block content %}
<h1 class="title">Eliminar tu cuenta</h1>
<form action="" method="post">{% csrf_token %}
    <p style="text-align: justify;">
    Al eliminar esta cuenta, se borrarán <b>permanentemente</b> todos los
    blogs, posts y configuraciones asociadas a la dirección de correo
    electrónico <b>{{ request.user.email }}</b>
    ¿estás seguro que quieres eliminar tu cuenta?</p>
    <input type="submit" value="Sí, acepto lo anterior y quiero eliminar mi cuenta">
</form>
{% endblock %}
