{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirmar correo electrónico" %}{% endblock %}


{% block content %}
<h1>{% trans "Confirmar correo electrónico" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Por favor confirma tu correo electrónico <a href="mailto:{{ email }}">{{ email }}</a>{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Confirmar' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Este enlace de confirmación expiró. Por favor <a href="{{ email_url }}">solicita uno nuevo</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
