{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Iniciar sesión" %}{% endblock %}

{% block content %}

<h1>{% trans "Iniciar sesión" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Por favor inicia sesión con algún
proveedor tercero o <a href="{{ signup_url }}">crea una cuenta</a>.
{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'o' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>
  <small>
  ¿No tienes cuenta?
  <a href="{% url 'signup_flow' %}">Crea una acá</a>.
  </small>
</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  <p>
  <input type="email" name="login" placeholder="Correo electrónico" autofocus="autofocus" required="" id="id_login">
  </p>
  <p>
  <input type="password" name="password" placeholder="Contraseña" required="" id="id_password">
  </p>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
  {% endif %}
  <button class="primaryAction" type="submit">{% trans "Iniciar sesión" %} &raquo;</button>
  <p>
    <small>
      <a href="{% url 'account_reset_password' %}">{% trans "Olvidé mi contraseña" %}</a>
    </small>
  </p>
</form>

<script>
document.querySelector('form input[type=email]').select()
</script>

{% endblock %}
