{% extends 'base.html' %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Cerrar sesión" %}{% endblock %}

{% block content %}
<a href='/dashboard/'>Volver</a>
<h1>{% trans "Sign out" %}</h1>
<p>{% trans 'Presiona el botón para cerrar sesión:' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
  {% endif %}
  <button type="submit">{% trans 'Cerrar sesión' %}</button>
</form>


{% endblock %}
