{% extends 'base.html' %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Recuperar contraseña" %}{% endblock %}

{% block content %}
    <h1>{% trans "Recuperar contraseña" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Se envió un correo a tu dirección para seguir con la recuperación. Revisa tus bandejas de entrada y spam.{% endblocktrans %}</p>
{% endblock %}
