{% extends 'base.html' %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% load i18n %}
{% block head_title %}{% trans "Cambiar contraseña" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Token inválido" %}{% else %}{% trans "Cambiar contraseña" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}El token de recuperación expiró. <a href="{{ passwd_reset_url }}">Solicita uno nuevo</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'Cambiar contraseña' %}">
            </form>
        {% else %}
            <p>{% trans 'Tu contraseña fue cambiada exitosamente.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
