{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Recuperar contraseña" %}{% endblock %}

{% block content %}

    <h1>{% trans "Recuperar contraseña" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Si olvidaste tu contraseña, escribe tu dirección de correo electrónico abajo y podrás recuperarla. <b>Si no asociaste ningún correo a tu cuenta, no podrás recuperar tu contraseña</b>. La administración no cambiará contraseñas manualmente." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Recuperar contraseña' %}">
    </form>

{% endblock %}
