{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Crear una cuenta" %}{% endblock %}

{% block content %}
<h1>{% trans "Crear una cuenta" %}</h1>

<p>
  <small>
    {% blocktrans %}¿Ya tienes cuenta? <a href="{{ login_url }}">Inicia sesión</a>{% endblocktrans %}
  </small>
</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <small><input type="checkbox" required>
    Leí y estoy de acuerdo con los
    <a href="https://ichoria.org/tos-blogs.txt">términos de servicio</a> y la
    <a href="https://ichoria.org/privacidad.txt">política de privacidad</a>
  </small>
  <br>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
  {% endif %}
  <button type="submit">{% trans "Crear cuenta" %} &raquo;</button>
  <p>
    <small>
      Si tu cuenta se usa para spam o se involucra en
      <a href="https://en.wikipedia.org/wiki/Cybersquatting"><em>domain squatting</em></a>
      será baneada.
      <br>
      Al crear una cuenta, aceptas los
      <a href="https://ichoria.org/tos-blogs.txt">términos de servicio</a>
      y la <a href="https://ichoria.org/privacidad.txt">política de privacidad</a>.
    </small>
  </p>
</form>

<script>
document.querySelector('form input[type=email]').select();
</script>

{% endblock %}
