{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verifica tu correo electrónico" %}{% endblock %}

{% block content %}
<h1>{% trans "Verifica tu correo electrónico" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Se requiere verificación de correo para continuar. {% endblocktrans %}</p>

<p>
    Se te ha enviado un correo electrónico de verificación. Ábrelo y sigue las instrucciones
    para continuar.
</p>
<p>
    Si no encuentras el correo en la bandeja de entrada, revisa la carpeta de 
    spam.
</p>

<p>{% blocktrans %}Puedes <a href="{{ email_url }}">cambiar tu correo electrónico</a> si lo prefieres.{% endblocktrans %}</p>


{% endblock %}
