{% extends "base.html" %}

{% block title %}Un paso más{% endblock %}

{% block seo %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block content %}

<button onclick="history.back()">Volver</button>

{% if error_messages %}
<p style="color:lightsalmon">
    {% for error_message in error_messages %}
        {{ error_message }}<br>
    {% endfor %}
</p>
{% endif %}

<form method="POST" class="full-width">
    {% csrf_token %}
    <p>
      Solo hace falta crear tu cuenta para <b>{{ subdomain }}.ichoria.cc</b>
    </p>
    <p style="display: flex; gap: 20px;">
        <input
            type="email"
            required name="email"
            placeholder="Correo electrónico"
            autocomplete="off"
            autocorrect="off"
            spellcheck="false"
            value="{{ email }}"
        >
        <input
            type="password"
            required
            name="password"
            placeholder="Contraseña"
            autocomplete="off"
            autocorrect="off"
            spellcheck="false"
            value="{{ password }}"
        >
    </p>

    <input hidden name="title" value="{{ title }}">
    <input hidden name="date">
    <input hidden name="name">
    <input hidden name="subdomain" value="{{ subdomain }}">
    <textarea hidden name="content">{{ content }}</textarea>

    <small><input type="checkbox" required>
      Leí y acepto los
      <a target="_blank" href="https://ichoria.org/tos-blogs.txt">términos de servicio</a>
      y la
      <a target="_blank" href="https://ichoria.org/privacidad.txt">política de privacidad</a>.
    </small>
    <br>
    
    <button type="submit">Crear cuenta &raquo;</button>
</form>

<script>
document.querySelector('form input[name=email]').select();
</script>

{% endblock %}
