<p>
<i>Servicio mantenido y administrado por el proyecto <a href="https://ichoria.org">ichoria★org</a></i>
</p>
<small>
  Software original publicado por Herman Martinus de
  <a href="https://bearblog.dev/">Bearblog</a> bajo la
  <a href="https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md">licencia MIT</a>.
  <br>
  <a href="https://ichoria.org/privacidad.txt" target="_blank">Política de privacidad</a> | 
  <a href="https://ichoria.org/tos-blogs.txt" target="_blank">Términos de servicio</a>
</small>
