<p>
    <details style="font-size: 12px">
      <summary>Guía de cabecera de metadatos</summary>
        <p style="display:grid;grid-template-columns: auto auto;">
            <span>
                <b>title:</b> Título del post
            </span>
            <span>
                <a href="https://docs.bearblog.dev/post#title" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                required
            </span>
            <span>
                <b>link:</b> titulo-del-post
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#link" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                opcional - deja vacío para autogenerar
            </span>
            <span>
                <b>alias:</b> 2012/01/02/cool-post.html
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#alias" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                opcional - deja vacío si no es necesario
            </span>
            <span>
                <b>canonical_url:</b> https://example.com/i-like-bears
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#canonical-url" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                opcional - deja vacío para autogenerar
            </span>
            <span>
                <b>published_date:</b> 2022-12-30
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#published-date" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                opcional - deja vacío para autollenar
            </span>
            <span>
                <b>is_page:</b> false
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#is-page" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                opcional - cambia a "true" solo si es una página estática
            </span>
            <span>
                <b>meta_description:</b> Breve descripción del post.
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#meta-description" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                opcional - deja vacío para autogenerar
            </span>
            <span>
                <b>meta_image:</b> https://linkaimagen.com/imagen.png
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#meta-image" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                opcional - imágen válida como miniatura
            </span>
            <span>
                <b>lang:</b> es
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#lang" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                opcional - el valor por defecto es el idioma del blog
            </span>
            <span>
                <b>tags:</b> etiquetas,del,post,separadas,por,comas
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#tags" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                opcional - no son necesarias las etiquetas
            </span>
            <span>
                <b>make_discoverable:</b> true
            </span>
            <span style="color: grey">
                <a href="https://docs.bearblog.dev/post#make-discoverable" target="_blank" style="text-decoration:none">
                    &#9432;
                </a>
                optional - mostrar tu post en la página de <a href="/discover/" target="_blank" style="text-decoration:none">"explorar"</a>
            </span>
            <span>___</span><span></span>
        </p>
    </details>
</p>
