{% extends 'base.html' %}
{% load humanize %}

{% block title %}Estadísticas@Ichoria★Blogs{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {% if not public %}
    {{ request.user.settings.dashboard_styles | safe }}
    {% endif %}
{% endblock %}

{% block nav %}
{% if not public %}
{% include '../snippets/dashboard_nav.html' %}
{% endif %}
{% endblock %}

{% block content %}
<h1>Estadísticas{% if public %} de {{ blog.title }}{% endif %}</h1>
<p>
    <b>Leyendo ahora:</b> {{ on_site|intcomma }}
    
</p>
<div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
    <small>
      Mostrando los últimos {{ days_filter }} días
    </small>
    <span>
        <button onclick="window.location = '?days=7{% if post_filter %}&post={{post_filter}}{% endif %}{% if referrer_filter %}&referrer={{referrer_filter}}{% endif %}'">Última semana</button>
        <button onclick="window.location = '?days=30{% if post_filter %}&post={{post_filter}}{% endif %}{% if referrer_filter %}&referrer={{referrer_filter}}{% endif %}'">Último mes</button>
        <button onclick="window.location = '?days=90{% if post_filter %}&post={{post_filter}}{% endif %}{% if referrer_filter %}&referrer={{referrer_filter}}{% endif %}'">Últimos 3 meses</button>
        <button onclick="window.location = '?days=180{% if post_filter %}&post={{post_filter}}{% endif %}{% if referrer_filter %}&referrer={{referrer_filter}}{% endif %}'">Últimos 6 meses</button>
        <button onclick="window.location = '?days=365{% if post_filter %}&post={{post_filter}}{% endif %}{% if referrer_filter %}&referrer={{referrer_filter}}{% endif %}'">Último año</button>
        <button onclick="window.location = '?days=99999{% if post_filter %}&post={{post_filter}}{% endif %}{% if referrer_filter %}&referrer={{referrer_filter}}{% endif %}'">Desde el inicio</button>
    </span>
</div>
<embed type="image/svg+xml" src= {{ chart|safe }} />
<span class="helptext" style="display: flex; justify-content:space-between;">
    <span>{{ start_date|date:"j F Y" }}</span>
    <span>{{ end_date|date:"j F Y" }}</span> 
</span>

<p>
    <b>Lecturas únicas:</b> {{ unique_reads|intcomma }}
    <br>
    <b>Visitantes únicos:</b> ~{{ unique_visitors|intcomma }}
    <br>
    <b>Suscriptores del feed RSS:</b> ~{{ rss_subscriber_count|intcomma }}
</p>

<p>
{% if post_filter %}
    <small>Post: <b>{{ posts.first.title }}</b></small>
    <a href="?days={{days_filter}}{% if referrer_filter %}&referrer={{referrer_filter}}{% endif %}"><button>Quitar filtro</button></a>
    <br>
{% endif %}
{% if referrer_filter %}
    <small>Referrer: <b>{{ referrer_filter }}</b></small>
    <a href="?days={{days_filter}}{% if post_filter %}&post={{post_filter}}{% endif %}"><button>Quitar filtro</button></a>
{% endif %}
</p>

<div style="display:flex;flex-flow:row wrap;justify-content:space-between; font-size: 12px;">
    <div style="width: 340px">
        <h3>Páginas</h3>
        <ul style="padding: 0;max-height: 300px;overflow-y: auto;">
            {% for post in posts %}
            <li style="display:flex;justify-content:space-between;padding:5px 0;">
                <span>
                    {% if post.hit_count > 0 %}
                    <a href="?days={{days_filter}}&post={{post.slug}}{% if referrer_filter %}&referrer={{referrer_filter}}{% endif %}">
                        {{post.title}}
                    </a>
                    {% else %}
                    {{post.title}}
                    {% endif %}
                    <small>(▵{{ post.upvotes }})</small>
                    <a href="https://{{ blog.subdomain }}.ichoria.cc/{{ post.slug }}" target="_blank">↪</a>
                </span>
                <span>{{post.hit_count|intcomma}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div style="width: 340px">
        <h3>Referrers</h3>
        <ul style="padding: 0;max-height: 300px;overflow-y: auto;word-break:break-all;">
            {% for referrer in referrers %}
            <li style="display:flex;justify-content:space-between;padding:5px 0;">
                <span>
                    <a href="?days={{ days_filter }}&referrer={{ referrer.referrer }}{% if post_filter %}&post={{ post_filter }}{% endif %}">{{ referrer.referrer }}</a>
                    <a href="{{ referrer.referrer }}" target="_blank">↪</a>
                </span>
                <span>{{ referrer.count|intcomma }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div style="padding-top:20px;display:flex; flex-flow: row wrap;justify-content:space-between; font-size: 12px;">
    <div style="width:220px">
        <h3>Dispositivos</h3>
        <ul style="padding: 0;max-height: 300px;overflow-y: auto">
            {% for device in devices %}
            <li style="display:flex;justify-content:space-between;padding:5px 0;">
                {{ device.device }}
                <span>{{ device.count|intcomma }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div style="width:220px">
        <h3>Navegadores</h3>
        <ul style="padding: 0;max-height: 300px;overflow-y: auto">
            {% for browser in browsers %}
            <li style="display:flex;justify-content:space-between;padding:5px 0;">
                {{ browser.browser }}
                <span>{{ browser.count|intcomma }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div style="width:220px">
        <h3>Países</h3>
        <ul style="padding: 0;max-height: 300px;overflow-y: auto">
            {% for country in countries %}
            <li style="display:flex;justify-content:space-between;padding:5px 0;">
                {{ country.country }}
                <span>{{ country.count|intcomma }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% if not public %}
<hr>
<small>
    <details>
        <summary>Ajustes de estadísticas</summary>
    
        <p>
            {% if blog.public_analytics %}
            Estadísticas públicas disponibles en 
            <a href="https://{{blog.subdomain}}.ichoria.cc/public-analytics/" target="_blank">https://{{ blog.subdomain }}.ichoria.cc/public-analytics/</a>
            <br>
            <button onclick="window.location = '?share=private'">Hacer estadísticas privadas</button>
            {% else %}
            <button onclick="window.location = '?share=public'">Hacer estadísticas públicas</button>
            {% endif %}
            <button onclick="window.open('?export=True')">Exportar reporte de estadísticas</button>
        </p>
        <hr>
    </details>
</small>
{% endif %}
{% endblock %}


{% block footer %}
{% if public %}
{% else %}
{% include 'snippets/dashboard_footer.html' %}
{% endif %}
{% endblock %}
