{% extends 'base.html' %}

{% block title %}Lista de blogs@Ichoria★Blogs{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

<h1>Tus blogs</h1>

<ul>
{% for blog in blogs %}
    <li>
        <a href="{% url 'dashboard' id=blog.subdomain %}">{{ blog.title }}</a>
    </li>
{% endfor %}
</ul>
{% if request.user.blogs.all|length > 0 and not request.user.settings.upgraded %}
<p>
    <a href="{% url 'upgrade' %}" style="color:salmon;" class="upgrade">Upgrade to create up to 10 blogs <span class="bear flex"></span></a>
</p>
{% else %}
{% if error_messages %}
<p style="color:lightsalmon">
    {% for error_message in error_messages %}
        {{ error_message }}<br>
    {% endfor %}
</p>
{% endif %}
<h2>Crear un blog nuevo</h2>
<form method="POST" class="post-form full-width">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

{% endif %}


<h2>Cuenta</h2>

<p>
    <a href="{% url 'account_logout' %}">Cerrar sesión</a>
</p>

<p>
    <a href="{% url 'dashboard_customisation' %}">Personalizar panel</a>
</p>

<p>
    <a href="/accounts/email/">Cambiar dirección de correo electrónico</a>
</p>
<p>
    <a href="/accounts/password/change/">Cambiar la contraseña</a>
</p>

{% if subscription_link %}
<p>
    <a href="{{ subscription_link }}" target="_blank">Suscripción</a>
</p>
{% endif %}

<p>
    {% if subscription_link and not subscription_cancelled %}
    <a onclick="alert('Please cancel your subscription before deleting your account.')">Eliminar cuenta</a>
    {% else %}
    <a href="{% url 'user_delete' %}">Eliminar cuenta</a>
    {% endif %}
</p>

{% endblock %}
