
{% extends 'base.html' %}

{% block title %}
Dominio personalizado@Ichoria★Blogs
{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% block content %}
<main>
    <h1>Dominio personalizado</h1>
   
    <p>No implementado aún.</p>
{% comment %}
    <form method="POST" class="post-form full-width">
        {% csrf_token %}
        <p style="line-height: 0">
            <button onclick="event.preventDefault(); window.location = '/{{ blog.subdomain}}/dashboard/settings/'">&#8592; Volver</button>
            <button type="submit">Save</button>
            <button onclick="event.preventDefault(); window.open('https://{{ blog.subdomain }}.ichoria.cc');">Visualizar</button>
        </p>

        {% if error_messages %}
        <p style="color:lightsalmon">
            {% for error_message in error_messages %}
                {{ error_message }}<br>
            {% endfor %}
        </p>
        {% endif %}
        
        <p>
            <label>Dominio</label>
            <br>
            <input type="text" name="custom-domain" value="{{ blog.domain }}" autocorrect="off" autocomplete="off" spellcheck="off">
            <p class="helptext">
              ejemplo.tld o blog.ejemplo.tld
            </p>
        </p>
    </form>

    <p>
        
    <p>Una vez hayas registrado un dominio, añade las siguientes entradas o <em>records</em>:</p>
        <table>
            <tr>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Contenido</th>
                <th>TTL</th>
            </tr>
            <tr>
                <td>CNAME</td>
                <td><small>@</small></td>
                <td><small>domain-proxy.ichoria.cc</small></td>
                <td>3600</td>
            </tr>
            <tr>
                <td>CNAME</td>
                <td><small>www</small></td>
                <td><small>domain-proxy.ichoria.cc</small></td>
                <td>3600</td>
            </tr>
        </table>

        <p>Si estás usando un subdominio, configura blog.ejemplo.tld en lugar de solo ejemplo.tld.</p>

        <p>
            <small>
                <b>Si estás usando Cloudflare, configura el modo SSL/TLS a "Full (Strict)".</b>
                <br>
                <b>Los cambios al DNS pueden tardar de unos minutos a varias horas en propagarse.</b>
                <br>
                Puedes usar el
                <a href="https://dnschecker.org/#CNAME/{{ blog.domain }}" target="_blank">DNS Checker</a>
                para revisar los <em>records</em> de tu dominio.
                <br>
                <br>
                <a href="https://docs.bearblog.dev/custom-domains/" target="_blank">Documentación (en inglés)</a>
            </small>
        </p>
    </p>
{% endcomment %}
</main>

{% endblock %}
