
{% extends 'base.html' %}

{% block title %}
Directivas@Ichoria★Blogs
{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% block content %}
<main>
    <h1>Directivas</h1>
    <p class="helptext">
      Extiende la cabecera y pie de página de tu blog, es decir las etiquetas &lt;head&gt; y &lt;footer&gt;.
    </p>
    <form method="POST" class="post-form full-width">
        {% csrf_token %}
        <p style="line-height: 0">
            <button onclick="event.preventDefault(); window.location = '/{{ blog.subdomain }}/dashboard/settings/'">&#8592; Volver</button>
            <button type="submit">Guardar cambios</button>
            <button onclick="event.preventDefault(); window.open('https://{{ blog.subdomain }}.ichoria.cc');">Visualizar</button>
        </p>
        <p>
            <label>Directivas de cabecera:</label>
            <br>
            <textarea name="header" style="height: 150px;">{{ blog.header_directive }}</textarea>
            <p style="color:lightsalmon;font-size:small;display:none;" class="domain-error">
                ʕ ·ᴥ·ʔ The custom_domain attribute should be with the blog attributes on the <a href="{% url 'dashboard' id=blog.subdomain %}">home page</a>, not here. 
            </p>
        </p>
        <p>
            <label>Directivas de pie de página:</label>
            <br>
            <textarea name="footer" style="height: 150px;">{{ blog.footer_directive }}</textarea>
            <span class="helptext">Usa Markdown o HTML</span>
        </p>
    </form>
</main>

<script>
    const textarea = document.querySelector('textarea[name="header"]');
    const domainErrorDiv = document.querySelector('.domain-error');

    textarea.addEventListener('input', () => {
        if (textarea.value.includes('custom_domain')) {
        domainErrorDiv.style.display = 'block';
        } else {
        domainErrorDiv.style.display = 'none';
        }
    });
</script>

{% endblock %}
