{% extends 'base.html' %}

{% block title %}Panel@Ichoria★Blogs{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% block nav %}{% include '../snippets/dashboard_nav.html' %}{% endblock %}

{% block content %}
<h1>Inicio</h1>

{% if error_messages %}
<p style="color:lightsalmon">
    {% for error_message in error_messages %}
        {{ error_message }}<br>
    {% endfor %}
</p>
{% endif %}

<form method="POST" class="post-form full-width">
    <p class="sticky-controls">
        <button type="submit">Publicar</button>
        {% if blog %}
        <button onclick="event.preventDefault(); window.open('https://{{ blog.subdomain }}.ichoria.cc')">Visualizar</button>
        {% endif %}
    </p>
    <details style="font-size: 12px; margin-bottom: 10px;">
        <summary>
          Atributos de cabecera
        </summary>
        <p>
            title: Baloo's blog<br>
            favicon: ⭐<br>
            meta_description: Descripción del blog.<br>
            meta_image: https://ejemplo.tld/ejemplo.png<br>
            lang: es<br>
            date_format: d M, Y
        </p>
        <a href="https://docs.bearblog.dev/home-page" target="_blank">
            Documentación (en inglés)
        </a>
    </details>
    
    {% csrf_token %}

    <div
        id="header_content"
        class="editable"
        contenteditable="true"
        style="margin-bottom:-1px; border-bottom: 1px solid lightgrey;"
    >
        <b>title:</b> {{ blog.title }}{% if blog.favicon %}<br>
        <b>favicon:</b> {{ blog.favicon }}{% endif %}{% if blog.meta_description %}<br>
        <b>meta_description:</b> {{ blog.meta_description }}{% endif %}{% if blog.meta_image %}<br>
        <b>meta_image:</b> {{ blog.meta_image }}{% endif %}{% if blog.lang != 'en' %}<br>
        <b>lang:</b> {{ blog.lang }}{% endif %}{% if blog.date_format != '' %}<br>
        <b>date_format:</b> {{ blog.date_format }}{% endif %}
    </div>

    <input type="hidden" id="hidden_header_content" name="header_content">

    <textarea
        id="body_content"
        name="body_content"
        style="min-height: 500px;border-top: 1px solid lightgrey;"
        placeholder="Escribe sobre tu persona o tu blog..."
    >{{ blog.content }}</textarea>

</form>

<span class="helptext sticky">
    <span>
        <a href='https://tutorialmarkdown.com/' target='_blank'>Guía de Markdown</a>
    </span>
    <span>
        <a id='upload-image'>Insertar imágen</a>&nbsp;
    </span>
</span>

{% include '../snippets/editor_functions.html' with blog=blog%}
{{ request.user.settings.dashboard_footer | safe }}
{% endblock %}
