{% extends 'base.html' %}

{% block seo %}
{% include 'snippets/seo_tags.html' with site_name='Ichoria Blogs' type="website" title='Ichoria Blogs' url='https://ichoria.cc' description='Alojamiento gratuito de blogs con Markdown.' %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<h2 style="font-size: 1.34em">Alojamiento gratuito de blogs con Markdown y LaTeX</h2>
<nav>
    {% if  user.is_authenticated %}
    <a href="/dashboard/">Mi cuenta</a> 
    {% else %}
    <a href="{% url 'signup_flow' %}">Crear una cuenta</a> 
    <a href="/accounts/login/">Iniciar sesión</a> 
    {% endif %}
    <a href="/discover/">Explorar</a>
</nav>
<p style="text-align: justify;">
  Este es el servicio de alojamiento de blogs del proyecto
  <a href="https://ichoria.org">ichoria★org</a>. El software que usa este 
  servicio es una bifurcación de
  <a href="https://github.com/HermanMartinus/bearblog">Bearblog</a>.
  Ichoria Blogs es 100% gratuito y a diferencia de otras instancias de Bearblog,
  acá todas las cuentas son premium por defecto y tienen acceso a todas las 
  funciones. Actualmente la plataforma está en fase <b>beta</b>. Reportar
  errores en <a href="https://github.com/nshebang/bearblog">Github</a>.
</p>
<h4>
  Ventajas del servicio
</h4>
<ul>
  <li>Los blogs son generados en HTML plano y simple</li>
  <li>Puedes crear páginas estáticas con HTML y opcionalmente javascript</li>
  <li>Sin publicidad</li>
  <li>Puedes crear tu CSS personalizado o usar un tema de nuestra librería</li>
  <li>Feeds RSS y Atom</li>
</ul>

{% endblock %}
