{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Buscar@Ichoria ☆ Blogs{% endblock %}

{% block seo %}
<meta name="robots" content="nofollow">
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<h1>
    Buscar
</h1>
<nav>
    <a href="/discover/">Populares</a>
    <a href="/discover/?newest=true">Más recientes</a>
    <b><a href="/search/">Buscar</a></b>
    
</nav>
<p>
    <form method="GET">
        <input type="text" name="query" placeholder="Términos de búsqueda..." value="{{ search_string }}">
        <input type="submit" value="Buscar">
    </form>
</p>
<ul class="discover-posts">
    {% for post in posts %}
    <li>
        <div>
            <a href="https://{{ post.blog.subdomain }}.ichoria.cc/{{ post.slug }}">
                {{ post.title }}
            </a>
            <small>
                <span>(<a href="https://{{ post.blog.subdomain }}.ichoria.cc/">https://{{ post.blog.subdomain }}.ichoria.cc</a>)</span>
                <br>
                <small>Publicado hace {{ post.published_date|timesince }}</small>
                <small>
                    <svg style="height:16px;margin: 0 -8px -4px 0;" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="17 11 12 6 7 11"></polyline><polyline points="17 18 12 13 7 18"></polyline></svg>
                    {{ post.upvotes }}
                </small>
                <p>
                    {{ post.content|remove_markup }}
                </p>
            </small>
        </div>

    </li>
    {% empty %}
    <li>
        ┬┴┬┴┤•ᴥ•ʔ├┬┴┬┴
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block footer %}
<p>
    ¿No tienes blog? <a href="/accounts/signup/">Crea uno acá</a>.
</p>
{% endblock %}
