{% extends 'base.html' %}

{% block title %}Estadísticas@Ichoria★Blogs{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% block nav %}{% include '../snippets/dashboard_nav.html' %}{% endblock %}

{% block content %}
<h1>Estadísticas de tu blog</h1>

<p>
    <b>Lecturas únicas:</b> {{ unique_reads.hit_count__sum }}
    <br>
    <b>Visitantes únicos:</b> {{ unique_visitors }}
</p>
<small>
    Mostrando información de los últimos 7 días
</small>
{{ chart|safe  }}
{% endblock %}
