{% extends 'base.html' %}

{% block title %}Personalizar panel@Ichoria★Blogs{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}


{% block content %}
<h1>Personalizar el panel</h1>
<form method="POST" class="post-form full-width">{% csrf_token %}
    <p style="line-height: 0">
        <button onclick="event.preventDefault(); window.location = '/dashboard/'">&#8592; Volver</button>
        <button type="submit">Guardar cambios</button>
    </p>
    {{ form.as_p }}
</form>
{% endblock %}
