{% extends 'base.html' %}

{% block title %}Reporte de revisión@Ichoria★Blogs{% endblock %}

{% block custom_styles %}
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {{ request.user.settings.dashboard_styles | safe }}
{% endblock %}

{% block content %}
<button onclick="window.history.back()">← Volver</button>
<h1>Reporte de revisión</h1>
{% if blog.reviewed %}
<p>Tu blog ha sido revisado por la administración.</p>
{% elif blog.to_review %}
<p>Tu blog se encuentra en proceso de revisión. Esto puede tardar varios días en completarse.</p>
{% else %}
<p>
  Usa esta página para aplicar a un reporte de revisión de blog. Tu blog será 
  sometido a revisión por la administración, y en caso de ser admitido aparecerá
  en la página "Explorar" de la página de inicio.
</p>
<form method="POST" class="post-form full-width">{% csrf_token %}
    <p>
        <input type="checkbox" required name="spam">
        <label for="spam"><small>Bajo protesta de decir verdad, confirmo que este blog no está siendo usado para violar los términos de servicio</small></label>
    </p>
    <button type="submit" class="save btn btn-default">Enviar</button>
</form>
{% endif %}
{% endblock %}
